<div class="container">
  <div class="row"> 
    <div class="col-md-4 mt-3">
      <h1 class="display-5">❤️ Heart Black Art</h1>
      <h4 class="mt-5">A Database of Black Artists</h4>
      <p>
        A digital collection of artists, presented as a well-documented, thoroughly tested REST API.
      </p>
      <p>Try it below:</p>
      <%= form_tag("/home", method: "get") do %>
         <%= text_field_tag :search_artists, nil, placeholder: "ie. Acrylic" %>
         <%= submit_tag "Search" %>
      <% end %>

      <h4 class="mt-5" >Docs</h4>
      <p>Documentation can be found <%= link_to "here",documentation_path, style: 'color:#f5f5f5; text-decoration: underline' %>.</p>

      <p></p>
    </div>
    <div class="col-md-8">
      <div class="row image-grid">
        <% @artists.each do |artist| %>
            <!-- <h4> <%= artist.name %> </h4> -->
            <!-- <p>Location: <%= artist.location %> </p> -->
            <%# link_to "artist info", "https://google.com" %>
            <!-- <span>Media: <% artist.media.each do |media| %></span>
              <span><%= media.name %></span>
            <% end %> -->
              <% if artist.image.attached? %>
              <%= link_to artist_show_path(artist) do %>
               <%= image_tag artist.image, class: "image-grid-item", style: "width: 240px; float: right;" %>
              <% end %> 
            <% end %> 
        <% end %>
        <%= paginate @artists %>
      </div>
    </div>
  </div>
</div> 

